﻿body{
    background-image:url('img/bg/bg-primus.jpg') !important;
    background-position:center center !important;
    background-repeat:no-repeat !important;
    background-attachment:fixed !important;
    background-size:cover !important;
    background-color:#1c3b9e !important;
}

.card .header-primary {
    background: linear-gradient(60deg, #ffffff, #ffffff);
}

.img-center{
    margin: 0 auto;
}

.card-signup .content {
    padding: 0px 10px 0px 10px;
}

input, select, textarea {
    max-width: 100%;
}