﻿@{
    ViewBag.Title = "Operaciones";
}
<style>
    * {
        font-family: 'open sans';
    }

    #contain {
        height: 695px;
        overflow-y: scroll;
    }

    #table_scroll {
        width: 100%;
        /*margin-top: 100px;*/
        /*margin-bottom: 100px;*/
    }

        #table_scroll tbody td {
            padding: 5px;
            /*background-color: #7fe55e;*/
            /*color: #fff;*/
        }

    #table_fixed thead th {
        padding: 5px;
        /*background-color: #b90be0;*/
        /*color: #fff;*/
        font-weight: 100;
    }

    #table-encurso tbody td {
        padding: 5px;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .flipclock {
        padding-left: 700px;
        /*37%*/
        zoom: 0.3;
        -moz-transform: scale(0.3);
    }
</style>

<div class="page-wrapper">
    <div class="row">
        <div class="col-md-7 contenedor-encurso">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">En Curso</legend>

                <div style="height:738px; overflow-y:auto;">
                    <table class="table color-bordered-table primary-bordered-table">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Documento</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Visador</th>
                                <th class="text-center">Ingreso</th>
                                <th class="text-center">Recepción</th>
                                <th class="text-center">Asignación</th>
                                <th class="text-center">Excepción</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-encurso"></tbody>
                    </table>
                </div>
            </fieldset>
        </div>

        <!--***** Separador *****-->

        <div class="col-md-5 contenedor-aprobadas">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Aprobadas</legend>
                <table class="table color-bordered-table muted-bordered-table" style="margin-bottom:0px;" border="0" id="table_fixed">
                    <thead>
                        <tr>
                            <th class="text-center" width="9%">Id</th>
                            <th class="text-center" width="28%">Documento</th>
                            <th class="text-center" width="15%">Visador</th>
                            <th class="text-center" width="18%">Ingreso</th>
                            <th class="text-center" width="17%">Aprobada</th>
                            <th class="text-center">Tiempo</th>
                        </tr>
                    </thead>
                </table>
                <div id="contain">
                    <table class="table color-bordered-table muted-bordered-table" border="0" id="table_scroll">
                        <tbody id="tbody-aprobadas"></tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Dashboard/formatoNumeros.js"></script>
    <script>
        $(document).ready(function () {
            $('.input-operacion').change(function () {
                var nroOper = $('.input-operacion').val();

                accionSpinner.Load('.contenedor-encurso', '', 'facebook');
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("GuardaRecepcion", "Dashboard")',
                    data: { nroOper: nroOper }
                }).done(function (data) {
                    if (data == true) {
                        $('.input-operacion').val('');
                        CargaListaOperEnCurso();
                    } else {
                        $('.input-operacion').val('');
                    }
                }).fail(function () {
                    accionSpinner.ErrorConexion();
                }).always(function () {
                    accionSpinner.Hide('.contenedor-encurso');
                });
            });//Fin input-Operacion

            CargaListaOperEnCurso();
            CargarListaAprobadas();
            //var count = 0;
            setInterval(function () {
                CargaListaOperEnCurso();
                CargarListaAprobadas();
                //count = count + 1;
                //console.log("contador " + count);
            }, 300000);


            function CargaListaOperEnCurso() {
                accionSpinner.Load('.contenedor-encurso', '', 'facebook');
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action("ObtieneOperacionesEnCurso", "Dashboard")'
                }).done(function (data) {
                    $('#tbody-encurso').html('');
                    var filas = '';
                    $.each(data, function (i, item) {
                        var fchIngreso = item.FchIngreso == null ? '-' : moment(item.FchIngreso).format("DD-MM-YYYY HH:mm");
                        var fchRecepcion = item.FchRecepcion == null ? '-' : moment(item.FchRecepcion).format("DD-MM-YYYY HH:mm");
                        var fchAsignacion = item.FchAsignacion == null ? '-' : moment(item.FchAsignacion).format("DD-MM-YYYY HH:mm");
                        var fchExcepcion = item.FchExcepcion == null ? '-' : moment(item.FchExcepcion).format("DD-MM-YYYY HH:mm");

                        filas += '<tr>';
                        filas += '<td class="text-center">' + item.IdSimulaOper + '</td>';
                        filas += '<td class="text-center">' + item.Documento + '</td>';
                        filas += '<td class="text-center">' + item.Estado + '</td>';
                        filas += '<td class="text-center">' + item.Visador + '</td>';
                        filas += '<td class="text-center" width="10%">' + fchIngreso + '</td>';
                        filas += '<td class="text-center" width="10%">' + fchRecepcion + '</td>';
                        filas += '<td class="text-center" width="10%">' + fchAsignacion + '</td>';
                        filas += '<td class="text-center" width="10%">' + fchExcepcion + '</td>';
                        filas += '</tr>';
                    });

                    $('#tbody-encurso').append(filas);
                }).fail(function () {
                    accionSpinner.ErrorConexion();
                }).always(function () {
                    accionSpinner.Hide('.contenedor-encurso');
                });
            };//Fin function

            function CargarListaAprobadas() {
                accionSpinner.Load('.contenedor-aprobadas', '', 'facebook');
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action("ObtieneOperacionesAprobadas", "Dashboard")'
                }).done(function (data) {
                    $('#tbody-aprobadas').html('');
                    var filas = '';
                    $.each(data, function (i, item) {
                        var fchIngreso = item.FchIngreso == null ? '-' : moment(item.FchIngreso).format("DD-MM-YYYY HH:mm");
                        var fchAprobacion = item.FchAprobacion == null ? '-' : moment(item.FchAprobacion).format("DD-MM-YYYY HH:mm");

                        filas += '<tr>';
                        filas += '<td class="text-center" width="9%">' + item.IdSimulaOper + '</td>';
                        filas += '<td class="text-center" width="28%">' + item.Documento + '</td>';
                        filas += '<td class="text-center" width="15%">' + item.Visador + '</td>';
                        filas += '<td class="text-center" width="18%">' + fchIngreso + '</td>';
                        filas += '<td class="text-center" width="20%">' + fchAprobacion + '</td>';
                        filas += '<td class="text-center">' + formatoNumero(item.Horas, 2, ',', '.') + '</td>';
                        filas += '</tr>';
                    });

                    $('#tbody-aprobadas').append(filas);
                }).fail(function () {
                    accionSpinner.ErrorConexion();
                }).always(function () {
                    accionSpinner.Hide('.contenedor-aprobadas');
                });
            };//Fin function

        });//Fin Document
    </script>


    <!--AutoScrollTable-->
    <script>
        $(document).ready(function () {
            pageScroll();
            $("#contain").mouseover(function () {
                clearTimeout(my_time);
            }).mouseout(function () {
                pageScroll();
            });

            getWidthHeader('table_fixed', 'table_scroll');

        });

        var my_time;
        function pageScroll() {
            var objDiv = document.getElementById("contain");
            objDiv.scrollTop = objDiv.scrollTop + 1;
            if ((objDiv.scrollTop + 695) == objDiv.scrollHeight) {
                objDiv.scrollTop = 0;
            }
            my_time = setTimeout('pageScroll()', 25);
        }

        function getWidthHeader(id_header, id_scroll) {
            var colCount = 0;
            $('#' + id_scroll + ' tr:nth-child(1) td').each(function () {
                if ($(this).attr('colspan')) {
                    colCount += +$(this).attr('colspan');
                } else {
                    colCount++;
                }
            });

            for (var i = 1; i <= colCount; i++) {
                var th_width = $('#' + id_scroll + ' > tbody > tr:first-child > td:nth-child(' + i + ')').width();
                $('#' + id_header + ' > thead th:nth-child(' + i + ')').css('width', th_width + 'px');
            }
        }
    </script>

}
