body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section {
    padding: 100px 0;
  }
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* text-transform: uppercase; */
  font-weight: 700;
}

/*------------------------- Seccion TopBar -------------------------*/
.topbar{
    margin-bottom: 20px;
}
.topbar .top-navbar{
    max-width: none !important;
    margin: 0 auto;
    min-height: 50px;
    padding: 0px 15px 0 15px;
}
/*------------------------- Fin Seccion TopBar -------------------------*/

/*------------------------- Botones -------------------------*/
.btn-info2 {
    color: #fff !important;
    background-color: #028ee1 !important;
    border-color: #028ee1 !important;
}
[data-icon]:before {
    font-family: icons; /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    speak: none; /* Not to be trusted, but hey. */
    float:right;
}
/*------------------------- Fin Botones -------------------------*/

/*------------------------- Seccion clases -------------------------*/
.text-just{
    color: #777777;
    text-align: justify;
    font-weight: bold;
}

.white-bg{
    background:#ffffff !important;
}
.gray-bg{
    background: #eef5f9 !important;
}
.foot-rcorners .rcorner1{
    margin-top: 30px;
    border-radius: 25px;
    /*border: 2px solid #1c3b9e;*/
    padding: 5px 15px; 
    width: auto;
    /*height: 215px;   */
    text-align: justify;
}
@media(min-width: 350px) {
    .foot-rcorners .rcorner1{
        height: 215px;
    }  
}
/*------------------------- Fin Seccion clases -------------------------*/

/*------------------------- Seccion Indicadores -------------------------*/
.Indicadores{
    padding-top: 4px;
    margin-bottom: -223px;
}
.Indicadores .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
.Indicadores .navbar-indicadores .navbar-nav{
    flex-direction: inherit;
}
.Indicadores .navbar-indicadores {    
    background: rgba(242,246,248,1);
    -webkit-box-shadow: 2px 6px 15px 4px rgba(211,212,224,0.7);
    -moz-box-shadow: 2px 6px 15px 4px rgba(211,212,224,0.7);
    box-shadow: 2px 6px 15px 4px rgba(211,212,224,0.7);
}
.Indicadores .navbar-indicadores{
    float: none;
    text-align: center;
}
.Indicadores .navbar-indicadores >ul>li {
    float: none;
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #1c3b9e;
    padding: 10px 18px;
}
@media (max-width:767px) {
    .Indicadores {
        display: none!important
    }
}
/*------------------------- Fin Seccion Indicadores -------------------------*/

/*------------------------- Seccion container -------------------------*/
.container-fluid{
    /*margin-top: 50px !important;   //Test*/
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*padding: 0 30px 25px 30px;    //Test*/
    max-width: 1920px;
    margin: 0 auto
}
.wrapper{
    margin-left: -15px !important;
}
/*------------------------- Owls -------------------------*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/*------------------------- Fin Seccion Carousel -------------------------*/

footer span.copyright {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    color: #777777;
}

html body .m-b-0 {
    margin-bottom: -5px!important;
}