﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/TemaForest/assets/images/logo/favicon.png" type="image/x-icon" />
    <link href="~/Content/TemaForest/assets/plugins/bootstrap/css/bootstrap-edit.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/all.css" rel="stylesheet" />

    <!-- Date picker plugins css -->
    <link href="~/Content/TemaForest/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

    <!--Custom CSS-->
    <link href="~/Content/TemaForest/css/style.css" rel="stylesheet" />
    <link href="~/Content/TemaForest/css/style-custom.css" rel="stylesheet" />
    <!--/Custom CSS-->
    <link href="~/Content/TemaForest/css/colors/blue.css" rel="stylesheet" />

    <!--DataTable-->
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/select.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.yadcf.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/TemaForest/assets/plugins/Datatable/responsive.dataTables.min.css" rel="stylesheet" />

    <!--/DataTable-->
    <!--Tooltipster-->
    <link href="~/Content/TemaForest/assets/plugins/tooltipster/css/tooltipster.bundle.min.css" rel="stylesheet" />
    <!--/Tooltipster-->
    <!--Select2-->
    <link href="~/Content/TemaForest/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!--/Select2-->
    <!--toastr | waitme-->
    <link href="~/Content/waitMe.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!--/toastr | waitme-->
    <!--File-Input-->
    <link href="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <!--/File-Input-->
    <!--FlipClock-->
    <link href="~/Content/TemaForest/assets/plugins/FlipClock/css/flipclock.css" rel="stylesheet" />
    <link href="~/Content/TemaForest/assets/plugins/FlipClock/css/reloj24.css" rel="stylesheet" />
    <!--/FlipClock-->

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body style="background:#eef5f9">
    @Html.Partial("_Navbar")

    <div class="container-fluid" @*style="margin-bottom:5% !important"*@>
        @RenderBody()
    </div>

    <footer class="footer">
        <p class="text-muted text-center footer-text small">&copy; @DateTime.Now.Year - Departamento TI, Primus Capital S.A.</p>
    </footer>
    <!--Scripts-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS in orden -->
    <script src="~/Content/TemaForest/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap/js/bootstrap-select.min.js"></script>

    <!--DataTable-->
    <script src="~/Content/TemaForest/assets/plugins/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/Datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/Datatable/dataTables.select.min.js"></script>
    <!--/DataTable-->
    <!--Tooltipster-->
    <script src="~/Content/TemaForest/assets/plugins/tooltipster/js/tooltipster.bundle.min.js"></script>
    <!--/Tooltipster-->
    <!--Select2-->
    <script src="~/Content/TemaForest/assets/plugins/select2/dist/js/select2.full.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/select2/dist/js/i18n/es.js"></script>
    <!--/Select2-->
    <!--toastr | waitme-->
    <script src="~/Scripts/waitMe.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <!--/toastr | waitme-->
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/TemaForest/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/TemaForest/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/TemaForest/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/TemaForest/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom /preload/ JavaScript -->
    <script src="~/Content/TemaForest/js/custom.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Content/TemaForest/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.es.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/Datatable/datetime-moment.js"></script>
    <!--File-Input--> <!--No se utiliza-->
    @*<script src="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/js/fileinput.js"></script>
        <script src="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/js/fileinput_locale_es.js"></script>
        <script src="~/Content/TemaForest/assets/plugins/bootstrap-fileinput/js/fileinputOption.js"></script>*@
    <!--/File-Input-->
    <!--Valida Rut-->
    <script src="~/Scripts/Utilidades/jquery.Rut.js"></script>
    <!--/Valida Rut-->
    <script src="~/Content/TemaForest/js/formatoNumero.js"></script>
    <script src="~/Content/TemaForest/js/validation.js"></script>
    <!--Moment-->
    <script src="~/Content/TemaForest/assets/plugins/moment/moment.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/moment/moment-with-locales.js"></script>
    <!--/Moment-->
    <script src="~/Scripts/Utilidades/funcionSpinner.js"></script>
    <!--FlipClock-->
    <script src="~/Content/TemaForest/assets/plugins/FlipClock/js/flipclock.js"></script>
    <script src="~/Content/TemaForest/assets/plugins/FlipClock/js/reloj24.js"></script>
    <!--/FlipClock-->
    <!--Toastr Options-->
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "3500",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            moment.locale("es");
        
            
            //var clock = new FlipClock($('.your-clock'), {
            //    // ... your options here
            //});
        
        });
        var clock = $('.flipclock').FlipClock({
            //clockFace: 'DailyCounter',
            clockFace: 'TwentyFourHourClock',
            language: 'spanish',
        });
    </script>

    <!--/Scripts-->
    @RenderSection("scripts", required: false)
</body>
</html>