﻿<style>
    .square0 {             
        float: left;             
        border-bottom: 61px solid #00b050;             
        border-left: 114px solid #1976d2;         
    }
    .flipclock{
        padding-left:700px;
        /*37%*/
        zoom: 0.3;
        -moz-transform: scale(0.3);
        /*padding-top:25px;*/
    }
</style>

<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Dashboard")">
                <b>
                    <!-- Logo icon -->
                    <img src="~/Content/TemaForest/assets/images/logo/Logo_Parte1.png" alt="homepage" class="light-logo" style="padding-top: 0; padding-bottom: 0; height:50px;" />
                </b><!--End Logo icon -->
                <span>
                    <!-- Logo text -->
                    <img src="~/Content/TemaForest/assets/images/logo/Logo_Parte2.png" alt="homepage" class="light-logo" style="padding-top: 0; padding-bottom: 0; height:50px;" />
                </span><!--End Logo text -->
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        @*<div class="navbar-header">
            <div class="navbar-brand">

                <h4>Operaciones</h4>

            </div>
        </div>*@
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0 p-l-20">
               <li>
                   <div class="row">
                       <div class="col-md-12">
                           <input type="text" name="name" value="" class="form-control input-operacion" autofocus />
                       </div>
                       <!--<div class="col-md-6">
                           <h3 class="text-white" style="float:right">Operaciones2</h3>
                       </div>-->
                   </div>
               </li>
                @*<li class="navbar-brand " style="margin-left:400px">
                    <h3 class="text-white">Operaciones</h3>
                </li>*@
            </ul>
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== my-lg-0-->
            <ul class="navbar-nav">
                @*<li class="nav-item dropdown text-white" style="padding-top:20px !important;padding-right:10px">
                    @DateTime.Now.ToString("dd/MM/yyyy") 
                </li>*@
                <!--<li class="text-white">
                    <div class="square0">
                    </div>
                </li>-->
                <li>
                    <div class="col-md-12">
                        <div class="flipclock"></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

